{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    News
{% endblock page_title %}

{% block content %}
<div class="search-container" style="margin-bottom: 20px;">
    <form method="get" class="search-form">
        <input type="text" 
               name="q" 
               class="form-control" 
               placeholder="Пошук статей..." 
               value="{{ request.GET.q }}"
               style="max-width: 300px; margin: 0 auto;">
    </form>
</div>

{% for newspaper in news %}
<div class="item" onclick="window.location.href='{% url 'news:newspaper' newspaper.pk %}'">
    <div class="animate-box">
        <img src="{{ newspaper.image.url }}" alt="Editorial Hub Image" />
        <div class="fh5co-desc">{{ newspaper.title }}</div>
    </div>
</div>
{% endfor %}
{% endblock %}
